<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="automation-task-bs-23">
        <classes>
            <class name="mystore.automation.testcases.RegistrationCheckoutTest">
                <methods>
                    <include name="registrationTest"/>
                    <include name="purchaseProductWithFirstUser"/>
                    <include name="purchaseProductWithSecondUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>